{% extends "bugtracker/base.html" %}
{% load static %}
{% block content %}



<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Current Projects</h1>
    
    <p class="mb-4"> <a href="{% url 'project-create' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Create a New Project </a></p>
  
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">List of current projects</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Project</th>
                <th>Description</th>

              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Project</th>
                <th>Description</th>

              </tr>
            </tfoot>
            <tbody>
                {% for project in projects %}
                <tr>
                  <td> <a class="article-title" href="{% url 'project-detail' project.id %}">{{ project.title }}</a> </td>
                  <td> {{ project.description }} </td>    
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  </div>


{% endblock %}