{% extends "bugtracker/base.html" %} 
{% load crispy_forms_tags %}
{% block content %}
<style>

    .content-section {
      background: #ffffff;
      padding: 10px 20px;
      border: 1px solid #dddddd;
      border-radius: 3px;
      margin-bottom: 20px;
      margin-top: 50px;
    }
    
    
        </style>
                <div class="content-section">
                    <h1> {{ user.username }} </h1>
                    <div class="border-top pt-3">

                    </div>
                </div>


{% endblock content %}
